name: Disabled Workflow
on: workflow_dispatch
jobs:
  disabled:
    runs-on: ubuntu-latest
    steps:
      - run: echo "This workflow is disabled"
# name: EAS Update
# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     types: [opened, synchronize, reopened]

# concurrency:
#   group: ${{ github.workflow }}-${{ github.ref }}-update
#   cancel-in-progress: true

# jobs:
#   lint_and_typecheck:
#     uses: ./.github/workflows/lint_and_typecheck.yml

#   run_tests:
#     uses: ./.github/workflows/run_tests.yml

#   update_preview:
#     needs: [lint_and_typecheck, run_tests]
#     runs-on: ubuntu-latest
#     permissions:
#       contents: read
#       pull-requests: write
#     steps:
#       - name: Check for EXPO_TOKEN
#         run: |
#           if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
#             echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets. Learn more: https://docs.expo.dev/eas-update/github-actions"
#             exit 1
#           fi

#       # TODO: Upgrade checkout action to newer version
#       - name: Checkout repository
#         uses: actions/checkout@v4

#       # TODO: Upgrade setup action to newer version
#       - name: Setup Node
#         uses: actions/setup-node@v4
#         with:
#           node-version: 22.x
#           cache: npm

#       # Currently, using the latest eas-version has been failing due to a recent change in eas-cli.
#       # TODO: When it is stable again, switch back to using the latest version.
#       - name: Setup EAS
#         uses: expo/expo-github-action@main
#         with:
#           # eas-version: latest
#           eas-version: 16.20.1
#           token: ${{ secrets.EXPO_TOKEN }}

#       - name: Install dependencies
#         run: npm run setup

#       - name: Determine branch and environment for update
#         id: set_branch
#         run: |
#           if [[ "${{ github.event_name }}" == "push" ]]; then
#             echo "branch=main" >> $GITHUB_ENV
#             echo "environment=preview" >> $GITHUB_ENV
#           else
#             echo "branch=${{ github.event.pull_request.head.ref }}" >> $GITHUB_ENV
#             echo "environment=development" >> $GITHUB_ENV
#           fi

#       - name: Create EAS update
#         run: |
#           eas update --auto --branch ${{ env.branch }} --environment ${{ env.environment }} -p android
#           eas update --auto --branch ${{ env.branch }} --environment ${{ env.environment }} -p ios

#           # If this is the main branch, also create updates for dev clients
#           if [[ "${{ github.event_name }}" == "push" ]]; then
#             eas update --channel development --auto --environment development -p android
#             eas update --channel development --auto --environment development -p ios
#           fi
