name: Disabled Workflow
on: workflow_dispatch
jobs:
  disabled:
    runs-on: ubuntu-latest
    steps:
      - run: echo "This workflow is disabled"
# name: Continuous Deployment (main)
# on:
#   push:
#     branches:
#       - main

# env:
#   EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}

# concurrency:
#   group: ${{ github.workflow }}-${{ github.ref }}-build
#   cancel-in-progress: true

# jobs:
#   lint_and_typecheck:
#     uses: ./.github/workflows/lint_and_typecheck.yml

#   run_tests:
#     uses: ./.github/workflows/run_tests.yml

#   continuously-deploy:
#     needs: [lint_and_typecheck, run_tests]
#     runs-on: ubuntu-latest
#     permissions:
#       contents: read
#       pull-requests: read
#     steps:
#       - name: Check for EXPO_TOKEN
#         run: |
#           if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
#             echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets. Learn more: https://docs.expo.dev/eas-update/github-actions"
#             exit 1
#           fi

#       # TODO: Upgrade checkout action to newer version
#       - name: Checkout repository
#         uses: actions/checkout@v4

#       # TODO: Upgrade setup action to newer version
#       - name: Setup Node
#         uses: actions/setup-node@v3
#         with:
#           node-version: 22.x
#           cache: npm

#       # Currently, using the latest eas-version has been failing due to a recent change in eas-cli.
#       # TODO: When it is stable again, switch back to using the latest version.
#       - name: Setup EAS
#         uses: expo/expo-github-action@main
#         with:
#           # eas-version: latest
#           eas-version: 16.20.1
#           token: ${{ secrets.EXPO_TOKEN }}

#       - name: Install dependencies
#         run: npm run setup

#       # Technically this is an experimental feature, but it's been working well for us
#       # Source: https://github.com/expo/expo-github-action/tree/main/continuous-deploy-fingerprint-info
#       - name: Get current staging profile fingerprint info
#         id: staging-info
#         uses: expo/expo-github-action/continuous-deploy-fingerprint-info@main
#         with:
#           profile: staging
#           environment: preview

#       - name: Create new builds if needed
#         run: |
#           chmod +x ./scripts/eas-build.sh
#           ./scripts/eas-build.sh
#         env:
#           ANDROID_FINGERPRINT: ${{ steps.staging-info.outputs.android-fingerprint }}
#           IOS_FINGERPRINT: ${{ steps.staging-info.outputs.ios-fingerprint }}

#       - name: Clean up EAS branches & updates
#         run: |
#           chmod +x ./scripts/eas-cleanup.sh
#           ./scripts/eas-cleanup.sh
#         env:
#           GH_TOKEN: ${{ github.token }}
